@model ListViewModel;
@{
    ViewData["Title"] = Model.PageTitle;
}

<h1>@Model.PageTitle</h1>

<form>
    <input type="hidden" asp-for="AggregateID" />
    <input type="hidden" asp-for="PageTitle" />

    <div>
        @for (int i = 0; i < Model.SearchConditionItems.Count; i++)
        {
            <label>
                <span>@Model.SearchConditionItems[i].Name</span>
                <input type="hidden" asp-for="SearchConditionItems[i].Name" />
                <input asp-for="SearchConditionItems[i].Value" />
            </label>
        }
        <button asp-action="ClearSearchCondition">クリア</button>
        <button asp-action="ExecuteSearch">検索</button>
    </div>

    <div>
        <div style="display: flex; justify-content: flex-end">
            <a asp-controller="Haldoc" asp-action="Create" asp-route-aggregateId="@Model.AggregateID">新規作成</a>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th></th>
                    @for (int i = 0; i < Model.TableHeader.Count; i++)
                    {
                        <th>
                            @Model.TableHeader[i]
                            <input type="hidden" asp-for="TableHeader[i]" />
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.SearchResults.Count; i++)
                {
                    <tr>
                        <td>
                            <a asp-controller="Haldoc" asp-action="Single" asp-route-aggregateId="@Model.AggregateID">詳細</a>
                        </td>
                        @for (int j = 0; j < Model.TableHeader.Count; j++)
                        {
                            <td>
                                @Model.SearchResults[i][j]
                                <input type="hidden" asp-for="SearchResults[i][j]" />
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
